.App {
  text-align: center;
  background: #009b6d;
}
.Scroll{
  height: 520px;
  overflow-y: scroll;
}


.Dash{
  color: #000000;
  font-size: 22px;
  font-family: cursive;
  margin: 2px;
}
.UpdatedLabel{
  margin: 10px;
}
.RemainingLabel{
  margin: 10px;

}
.exportBtn{
  color: #000000;
  background: #ffffff;
  border: 1px solid #05ff50;
  font-size: 20px;
  float: right;
  margin-right: 25px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.App-link {
  color: #61dafb;
}
Table{
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.EmailColumn{
  width: 60%;
}

.CategoryColumn{
  width: 15%;
}
.ChoiceColumn{
  width: 40%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
